<div class="container-fluid">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add Contact
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <mat-form-field class="col">
                <input matInput placeholder="First Name">

            </mat-form-field>
            <mat-form-field class="col">
                <input matInput placeholder="Last Name">

            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col">
                <input matInput placeholder=" Title">

            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col">
                <input matInput placeholder="Email">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-6">
                <input type="tel" matInput placeholder=" Phone Number ">
            </mat-form-field>
        </div>
    </mat-expansion-panel>
</div>